Options +FollowSymlinks
RewriteEngine on

#réécriture du lien si un filtre est appliqué, pour éviter du traitement non nécessaire à PHP.
RewriteCond %{QUERY_STRING} ^section=([0-9]+)$ [OR]
RewriteCond %{QUERY_STRING} ^section=all$
RewriteRule ^$ index.php?controller=Etudiant&action=ListeEtudiants&section=$1 [nc,qsa]

RewriteRule ^supprimer/([0-9]+)$ index.php?controller=Etudiant&action=delete&id=$1 [nc,qsa]

RewriteRule ^ajouter/$ index.php?controller=Etudiant&action=add [nc]

RewriteRule ^infoEtudiant/([0-9]+)/$ index.php?controller=Etudiant&action=getInfoEtudiant&idEtudiant=$1 [nc,qsa]

RewriteRule ^modifier/$ index.php?controller=Etudiant&action=editEtudiant [nc]

RewriteRule ^getEtudiantParSection/([0-9]+)/$ index.php?controller=Etudiant&action=getEtudiantParSectionJSON&section=$1 [nc,qsa]
RewriteRule ^getEtudiantParSection/all/$ index.php?controller=Etudiant&action=getEtudiantParSectionJSON&section=all [nc,qsa]

#Uniquement pour le développement, à supprimer avant d'envoyer en production
RewriteRule ^reset/$ index.php?controller=Reset [nc]
